*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: aqua;
}

#container h3{
    color: violet;
    text-align: center;
}

#container #inputField{
    text-align: center;
}

#inputField{
    background: aqua;
    border: 2px solid white;
    padding: 2rem 0;
    margin: 5rem 0;
    width: 80%;
    margin-left: 10%;
}

#inputField input{
    width: 80%;
}


#task {
    padding: 2rem 0;
    margin: 1rem 0;
    width: 80%;
    margin-left: 10%;
    border: 2px solid white;
    
}
.delete{
    background: none;
    border:2px solid white;
    text-align: right;
    border: none;
}

.tasks {
    margin-bottom: 5px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: violet;
    background: white;
    padding: .5rem;
    border-radius: 5px;
}
